/* 

jFlow Plus v2 Demo CSS 

Description: Demonstation CSS for jFlow Plus

Creator: Devin Walker

Date: July 29, 2010


*/

#sliderContainer { float: left; width: 620px; height: 360px; position: relative; border-top: 5px solid #999; border-bottom: 5px solid #999; margin-top: 21px; margin-left:20px;}

.slideContent {  background:url("../img/contentBg.png") repeat scroll 0 0 rgba(150, 58, 6, 0.65); position: absolute; bottom:0px; right:0px; padding: 10px; width: 100%; }

.slide h3 {  font: 26px/1em; color: #FFF;  margin: 0 0 5px 0; }

.slide p { font: 15px; color: #FFF; margin: 0; }

.jFlowSlideContainer { overflow: hidden; }

.jFlowSlideContainer a { color: #F90; text-decoration: none; font-style: italic; }

.jFlowSlideContainer a:hover { text-decoration: none; }

.jFlowSlideContainer a:focus { position: relative; top: 1px; }

.jFlowNext { background:url("../img/minibutton.png") no-repeat scroll 0 0px transparent; height:50px; position:absolute; top:150px; right: -25px; width:25px; cursor:pointer; }

.jFlowPrev { background:url("../img/minibutton.png") no-repeat scroll -25px -0px transparent; height:50px; position:absolute; top:150px; left: -25px; width:25px; cursor:pointer; }

.jFlowPrev:hover { background-position: -25px -50px; }

.jFlowNext:hover { background-position: 0px -50px; }


/* controller pagination */

#myController {position: absolute; top: 5px; right: 5px; }

.jFlowControl { background:url("../img/bullet.png") no-repeat scroll 0px 0px transparent;  float: left; width: 15px; height: 15px;}

.jFlowControl:hover { background-position: -32px 0px; cursor: pointer; }

.jFlowSelected, .jFlowSelected:hover {background-position: -15px 0px;   }