@import url(http://fonts.googleapis.com/css?family=Orbitron:900);
/*@import url(http://fonts.googleapis.com/css?family=Ubuntu:700);
@import url(http://fonts.googleapis.com/css?family=Rokkitt);
*/
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
color: whitesmoke;
text-decoration: none;
background-color: #555;
}
.dropdown-menu > li > a {
color: whitesmoke;
font-size: 14px;
}
.dropdown-menu{
font-size: 9px;
list-style: none;
background-color: #333;
border: 1px solid #cccccc;
border: 1px solid rgba(0, 0, 0, 0.15);
-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
background-clip: padding-box;
}
.nav a:hover .caret {
border-top-color: #333;
border-bottom-color: #333;
}
.nav .caret {
border-top-color: #333;
border-bottom-color: #333;
}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
background-color: #8c4600;
border-color: #428bca;
}
.navbar-ciba a{
	color: #FFF;
	font-size: 18px;
}
body{
	margin:0px;
	background-image: url('img/fnd.png');
	background-repeat:no-repeat;
	background-position:top center;
	background-color: #000000;
}
#menu{
	/* IE10 Consumer Preview */ 
	background-image: -ms-linear-gradient(top left, #C7632B 0%, #B25908 100%);
	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(top left, #C7632B 0%, #B25908 100%);
	/* Opera */ 
	background-image: -o-linear-gradient(top left, #C7632B 0%, #B25908 100%);
	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #C7632B), color-stop(1, #B25908));
	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(top left, #C7632B 0%, #B25908 100%);
	/* W3C Markup, IE10 Release Preview */ 
	background-image: linear-gradient(to bottom right, #C7632B 0%, #B25908 100%);
	border-bottom: solid 10px #8c4600;
}
#logo{
	margin-top:18px;
}
#body{
	background-color: white;
}
#sliderContainer{
	-webkit-box-shadow: 0px 2px 14px rgba(45, 50, 50, 1);
	-moz-box-shadow:    0px 2px 14px rgba(45, 50, 50, 1);
	box-shadow:         0px 2px 14px rgba(45, 50, 50, 1);
}
.slide p.mas{
	color:#B25908;
	
}
#slideimg{
	height:409px;
	width:670px;
	/*border-right:#999999 1px solid;
	border-bottom:#999999 1px solid;*/
	display: inline-table;
}
#bxMarc{
	padding-left: 0px;
	padding-top: 24px;
}
.result p{
	margin: 0 0 0;
}
/* ribbon style */

 .nnot.ribbon-wrapper {
	position: relative;
}
 .nnot .ribbon-front {
	background-color: #D45E05;	height: 60px;
	width: 274px;
	position: relative;
	left:-20px;
	z-index: 2;
}

 .nnot .ribbon-front,
 .nnot .ribbon-back-left,
 .nnot .ribbon-back-right
{
	-moz-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
	-khtml-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
	-webkit-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
	-o-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
}

 .nnot .ribbon-edge-topleft,
 .nnot .ribbon-edge-topright,
 .nnot .ribbon-edge-bottomleft,
 .nnot .ribbon-edge-bottomright {
	position: absolute;
	z-index: 1;
	border-style:solid;
	height:0px;
	width:0px;
}

 .nnot .ribbon-edge-topleft,
 .nnot .ribbon-edge-topright {
}

 .nnot .ribbon-edge-bottomleft,
 .nnot .ribbon-edge-bottomright {
	top: 60px;
}

 .nnot .ribbon-edge-topleft,
 .nnot .ribbon-edge-bottomleft {
	left: -20px;
	border-color: transparent #8E4301 transparent transparent;
}

 .nnot .ribbon-edge-topleft {
	top: 0px;
	border-width: 0px 20px 0 0;
}
 .nnot .ribbon-edge-bottomleft {
	border-width: 0 20px 10px 0;
}

 .nnot .ribbon-edge-topright,
 .nnot .ribbon-edge-bottomright {
	left: 220px;
	border-color: transparent transparent transparent #8E4301;
}

 .nnot .ribbon-edge-topright {
	top: 0px;
	border-width: 0px 0 0 0px;
}
 .nnot .ribbon-edge-bottomright {
	border-width: 0 0 0px 0px;
}

 .nnot .ribbon-back-left {
	position: absolute;
	top: 10px;
	left: 0px;
	width: 0px;
	height: 60px;
		z-index: 0;
}

 .nnot .ribbon-back-right {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 0px;
	height: 60px;
		z-index: 0;
}

#dntitribbon{
	position: absolute;
	/*font-family: 'Orbitron', sans-serif; */
	color: #FFF;
	margin-top: 27px;
	margin-left: 15px;
}
#dnatitribbon{
	position: absolute;
	/*font-family: 'Orbitron', sans-serif; */
	color: #FFF;
	margin-top: 6px;
	margin-left: 56px;
}
/* ribbon style */

 .unn.ribbon-wrapper {
	position: relative;
}
 .unn .ribbon-front {
	background-color: #BC5E19;	height: 60px;
	width: 260px;
	position: relative;
	left:0px;
	z-index: 2;
}

 .unn .ribbon-front,
 .unn .ribbon-back-left,
 .unn .ribbon-back-right
{
	-moz-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
	-khtml-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
	-webkit-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
	-o-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
}

 .unn .ribbon-edge-topleft,
 .unn .ribbon-edge-topright,
 .unn .ribbon-edge-bottomleft,
 .unn .ribbon-edge-bottomright {
	position: absolute;
	z-index: 1;
	border-style:solid;
	height:0px;
	width:0px;
}

 .unn .ribbon-edge-topleft,
 .unn .ribbon-edge-topright {
}

 .unn .ribbon-edge-bottomleft,
 .unn .ribbon-edge-bottomright {
	top: 60px;
}

 .unn .ribbon-edge-topleft,
 .unn .ribbon-edge-bottomleft {
	left: 0px;
	border-color: transparent #863B11 transparent transparent;
}

 .unn .ribbon-edge-topleft {
	top: 0px;
	border-width: 0px 0px 0 0;
}
 .unn .ribbon-edge-bottomleft {
	border-width: 0 0px 0px 0;
}

 .unn .ribbon-edge-topright,
 .unn .ribbon-edge-bottomright {
	left: 240px;
	border-color: transparent transparent transparent #863B11;
}

 .unn .ribbon-edge-topright {
	top: 0px;
	border-width: 0px 0 0 20px;
}
 .unn .ribbon-edge-bottomright {
	border-width: 0 0 10px 20px;
}

 .unn .ribbon-back-left {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 0px;
	height: 60px;
		z-index: 0;
}

 .unn .ribbon-back-right {
	position: absolute;
	top: 10px;
	right: 0px;
	width: 0px;
	height: 60px;
		z-index: 0;
}
/* ribbon style */

 .foot.ribbon-wrapper {
	position: relative;
}
 .foot .ribbon-front {
	background-color: #2C2C2C;	height: 500px;
	width: 1010px;
	position: relative;
	left:-20px;
	z-index: 2;
}

 .foot .ribbon-front,
 .foot .ribbon-back-left,
 .foot .ribbon-back-right
{
	-moz-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
	-khtml-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
	-webkit-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
	-o-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
}

 .foot .ribbon-edge-topleft,
 .foot .ribbon-edge-topright,
 .foot .ribbon-edge-bottomleft,
 .foot .ribbon-edge-bottomright {
	position: absolute;
	z-index: 1;
	border-style:solid;
	height:0px;
	width:0px;
}

 .foot .ribbon-edge-topleft,
 .foot .ribbon-edge-topright {
}

 .foot .ribbon-edge-bottomleft,
 .foot .ribbon-edge-bottomright {
	top: 500px;
}

 .foot .ribbon-edge-topleft,
 .foot .ribbon-edge-bottomleft {
	left: -20px;
	border-color: transparent #636363 transparent transparent;
}

 .foot .ribbon-edge-topleft {
	top: -10px;
	border-width: 10px 20px 0 0;
}
 .foot .ribbon-edge-bottomleft {
	border-width: 0 20px 0px 0;
}

 .foot .ribbon-edge-topright,
 .foot .ribbon-edge-bottomright {
	left: 970px;
	border-color: transparent transparent transparent #636363;
}

 .foot .ribbon-edge-topright {
	top: -10px;
	border-width: 10px 0 0 20px;
}
 .foot .ribbon-edge-bottomright {
	border-width: 0 0 0px 20px;
}

 .foot .ribbon-back-left {
	position: absolute;
	top: -10px;
	left: 0px;
	width: 0px;
	height: 500px;
		z-index: 0;
}

 .foot .ribbon-back-right {
	position: absolute;
	top: -10px;
	right: 0px;
	width: 0px;
	height: 500px;
		z-index: 0;
}

.noti-dest h5{
	font-size: 15px;
	margin-top: -2.5px;
	margin-bottom: -0.5px;
}
.noti-dest p{
	margin: 0 0 0.4em;
	font-size: 11px;
  	line-height: 15px;
}
.ultscore p{
	margin: 0 0 0 0;
}
.eqmarc{
	width: 23px;
	height: 23px;
}
.panel-default >.porange{
	background-color: #BD5E1A;
	color: white;
	border-color:#BD5E1A;
}
.ultnot p{
	margin: 0;
}
.cuadscore{
	padding-top: 8px;
    padding-bottom: 8px;
    border-right-style: solid;
    border-color: dimgrey;
    border-width: thin;
}
.score{
	margin: 9px;
    display: inline-block;
    font-size: 12px;
    margin-right: -5px;
}
.team{
	margin: 9px;
    display: inline-block;
    font-size: 12px;
    padding-right: 9px;
    border-right-style: solid;
}
.day{
	display: inline-block;
}
.btn-notd{
	text-align: right;
}
.item{
	padding-left: 7px;
	padding-right: 7px;
}
.pnl-blog{
	text-align: center;
}
.pnl-blog p{
	margin-bottom: 0;
}
hr.firhr{
	margin-top: 5px;
	margin-bottom: 5px; 
}
hr.sechr{
	margin-top: 5px;
	margin-bottom: 25px; 
}
.entblog p.lead,p.blogtime{
	margin-bottom: 2px;
}
.wequi{
	border: 1px solid grey;
}

.top-bar{
	background: #1E1E1E;
    border-bottom: 1px solid rgba(255,255,255,0.3);
    box-shadow: inset 0 0 5px rgba(0,0,0,0.5);
}

.teams-nav{
	display: inline-block;
	margin: 0;
}
.teams-nav > li{
	list-style-type: none;
	float: left;
}
.teams-nav > li > a{
	padding: 7px 5px;
	display: block;
}