@import url(http://fonts.googleapis.com/css?family=Orbitron:900);
@import url(http://fonts.googleapis.com/css?family=Ubuntu:700);
body{
	margin:0px;
	background-image: url('img/fnd.png');
	background-repeat:no-repeat;
	background-position:top center;
	background-color: #000000;
}
h3{
	font-family:  'Bowlby One SC', cursive;
}
p{
	font: 14px 'Ubuntu', sans-serif; 
	color: #4D4d4d;
	margin:3px;
}
#sliderContainer{
	-webkit-box-shadow: 0px 2px 14px rgba(45, 50, 50, 1);
	-moz-box-shadow:    0px 2px 14px rgba(45, 50, 50, 1);
	box-shadow:         0px 2px 14px rgba(45, 50, 50, 1);
}
.marg{
	width:940px;
	margin-left:auto;
	margin-right:auto;
}
.a1{
	width:972px;
	height:30px;
	margin-left:auto;
	margin-right:auto;
	/* IE10 Consumer Preview */ 
	background-image: -ms-linear-gradient(top left, #C7632B 0%, #B25908 100%);
	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(top left, #C7632B 0%, #B25908 100%);
	/* Opera */ 
	background-image: -o-linear-gradient(top left, #C7632B 0%, #B25908 100%);
	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #C7632B), color-stop(1, #B25908));
	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(top left, #C7632B 0%, #B25908 100%);
	/* W3C Markup, IE10 Release Preview */ 
	background-image: linear-gradient(to bottom right, #C7632B 0%, #B25908 100%);
}
.a2{
	width:972px;
	height:10px;
	margin-left:auto;
	margin-right:auto;
	background-color:#8c4600;
}
.header{
	width:972px;
	height:97px;
	margin-left:auto;
	margin-right:auto;
	/* IE10 Consumer Preview */ 
	background-image: -ms-linear-gradient(top left, #C7632B 0%, #B25908 100%);
	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(top left, #C7632B 0%, #B25908 100%);
	/* Opera */ 
	background-image: -o-linear-gradient(top left, #C7632B 0%, #B25908 100%);
	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #C7632B), color-stop(1, #B25908));
	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(top left, #C7632B 0%, #B25908 100%);
	/* W3C Markup, IE10 Release Preview */ 
	background-image: linear-gradient(to bottom right, #C7632B 0%, #B25908 100%);
}
.cont{
	width:972px;
	height:1000px;
	margin-left:auto;
	margin-right:auto;
	/* IE10 Consumer Preview */ 
	background-image: -ms-radial-gradient(center, ellipse farthest-corner, #FFFFFF 0%, #F0F0F0 100%);
	/* Mozilla Firefox */ 
	background-image: -moz-radial-gradient(center, ellipse farthest-corner, #FFFFFF 0%, #F0F0F0 100%);
	/* Opera */ 
	background-image: -o-radial-gradient(center, ellipse farthest-corner, #FFFFFF 0%, #F0F0F0 100%);
	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(radial, center center, 0, center center, 433, color-stop(0, #FFFFFF), color-stop(1, #F0F0F0));
	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-radial-gradient(center, ellipse farthest-corner, #FFFFFF 0%, #F0F0F0 100%);
	/* W3C Markup, IE10 Release Preview */ 
	background-image: radial-gradient(ellipse farthest-corner at center, #FFFFFF 0%, #F0F0F0 100%);
}
p{
	display:inline-table;
}
.slide p.mas{
	color:#B25908;
	
}
#logo{
	margin-top:18px;
	float:left;
}
#slideimg{
	height:420px;
	width:670px;
	/*border-right:#999999 1px solid;
	border-bottom:#999999 1px solid;*/
	display: inline-table;
}
.social{
	float: right;
	margin-top:14px;
}
#youtube { 
	background:url("../img/social_sprite.png") no-repeat scroll 0 0px transparent; 
	height:70px; 
	width:70px;
	cursor:pointer;
	display:inline-table; 
}
#youtube:hover { 
	background-position:0 -70px;
}
#facebook { 
	background:url("../img/social_sprite.png") no-repeat scroll -70px 0px transparent; 
	height:70px; 
	width:70px;
	cursor:pointer;
	display:inline-table; 
}
#facebook:hover { 
	background-position:-70px -70px;
}
#twitter { 
	background:url("../img/social_sprite.png") no-repeat scroll -140px 0px transparent; 
	height:70px; 
	width:70px;
	cursor:pointer;
	display:inline-table; 
}
#twitter:hover { 
	background-position:-140px -70px;
}
#skype { 
	background:url("../img/social_sprite.png") no-repeat scroll -210px 0px transparent; 
	height:70px; 
	width:70px;
	cursor:pointer;
	display:inline-table; 
}
#skype:hover { 
	background-position:-210px -70px;
}
.fondmarc{
	background-color: rgb(213, 213, 213);;
	display:inline-table;
	width:240px;
	height:400px;
	float:right;
	margin-top:12px;
	margin-right: 6px;
	-webkit-box-shadow: 0px 2px 8px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 2px 8px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 2px 8px rgba(50, 50, 50, 0.75);
	
}



/* ribbon style */

 .marcribbon-wrapper {
 	float:right;
	position: relative;
	border-top: 0px solid #ccc;
	margin-top: -400px;
	margin-right: -34px;
	-moz-border-bottom-colors: rgba(0, 0, 0, 0.02) rgba(0, 0, 0, 0.04) rgba(0, 0, 0, 0.06) rgba(0, 0, 0, 0.08) rgba(0, 0, 0, 0.10) rgba(0, 0, 0, 0.12) rgba(0, 0, 0, 0.14) rgba(0, 0, 0, 0.16) rgba(0, 0, 0, 0.18) rgba(0, 0, 0, 0.20);
	-webkit-border-bottom-colors: rgba(0, 0, 0, 0.02) rgba(0, 0, 0, 0.04) rgba(0, 0, 0, 0.06) rgba(0, 0, 0, 0.08) rgba(0, 0, 0, 0.10) rgba(0, 0, 0, 0.12) rgba(0, 0, 0, 0.14) rgba(0, 0, 0, 0.16) rgba(0, 0, 0, 0.18) rgba(0, 0, 0, 0.20);
	-moz-border-top-colors: rgba(0, 0, 0, 0.02) rgba(0, 0, 0, 0.04) rgba(0, 0, 0, 0.06) rgba(0, 0, 0, 0.08) rgba(0, 0, 0, 0.10) rgba(0, 0, 0, 0.12) rgba(0, 0, 0, 0.14) rgba(0, 0, 0, 0.16) rgba(0, 0, 0, 0.18) rgba(0, 0, 0, 0.20);
	-webkit-border-top-colors: rgba(0, 0, 0, 0.02) rgba(0, 0, 0, 0.04) rgba(0, 0, 0, 0.06) rgba(0, 0, 0, 0.08) rgba(0, 0, 0, 0.10) rgba(0, 0, 0, 0.12) rgba(0, 0, 0, 0.14) rgba(0, 0, 0, 0.16) rgba(0, 0, 0, 0.18) rgba(0, 0, 0, 0.20);
}
  .marcribbon-front {
	background-color: #BC5E19;
	height: 60px;
	width: 280px;
	position: relative;
	left: -20px;
	z-index: 2;
}

  .marcribbon-front,
  .marcribbon-back-left,
  .marcribbon-back-right
{
	-moz-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
	-khtml-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
	-webkit-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
	-o-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
}

  .marcribbon-edge-topleft,
  .marcribbon-edge-topright,
  .marcribbon-edge-bottomleft,
  .marcribbon-edge-bottomright {
	position: absolute;
	z-index: 1;
	border-style:solid;
	height:0px;
	width:0px;
}

  .marcribbon-edge-topleft,
  .marcribbon-edge-topright {
}

  .marcribbon-edge-bottomleft,
  .marcribbon-edge-bottomright {
	top: 60px;
}

  .marcribbon-edge-topleft,
  .marcribbon-edge-bottomleft {
	left: -20px;
	border-color: transparent #863B11 transparent transparent;
}

  .marcribbon-edge-topleft {
	top: 0px;
	border-width: 0px 20px 0 0;
}
  .marcribbon-edge-bottomleft {
	border-width: 0 20px 10px 0;
}

  .marcribbon-edge-topright,
  .marcribbon-edge-bottomright {
	left: 240px;
	border-color: transparent transparent transparent #863B11;
}

  .marcribbon-edge-topright {
	top: 0px;
	border-width: 0px 0 0 20px;
}
  .marcribbon-edge-bottomright {
	border-width: 0 0 10px 20px;
}

  .marcribbon-back-left {
	position: absolute;
	top: 10px;
	left: 0px;
	width: 0px;
	height: 80px;
	background-color: #ccf;	z-index: 0;
}

  .marcribbon-back-right {
	position: absolute;
	top: 10px;
	right: 0px;
	width: 0px;
	height: 80px;
		z-index: 0;
}

/*ribbon end*/

#titribbon{
	position: absolute;
	font-family: 'Orbitron', sans-serif; 
	color: #FFF;
	margin-top: 27px;
	margin-left: 61px;
}
#atitribbon{
	position: absolute;
	font-family: 'Orbitron', sans-serif; 
	color: #FFF;
	margin-top: 10px;
	margin-left: 27px;
}
#dntitribbon{
	position: absolute;
	font-family: 'Orbitron', sans-serif; 
	color: #FFF;
	margin-top: 27px;
	margin-left: 15px;
}
#dnatitribbon{
	position: absolute;
	font-family: 'Orbitron', sans-serif; 
	color: #FFF;
	margin-top: 10px;
	margin-left: 56px;
}
#sectmarc{
	margin-top:80px;
}
#ulmarc{
	
	list-style: none;
}
ul#ulmarc li{
	width:220px;
	height:54px;
	background-color:#EDEDED;
	border-style:solid;
	border-width:2px;
	border-color: #6E6E6E;
	float:left;
	margin-left: -32px;
	margin-bottom: 5px;
}
.marcadores{
}


/* ribbon style */

 .noti-ribbon-wrapper {
	position: relative;
	border-top: 0px solid #ccc;
	-moz-border-bottom-colors: rgba(0, 0, 0, 0.02) rgba(0, 0, 0, 0.04) rgba(0, 0, 0, 0.06) rgba(0, 0, 0, 0.08) rgba(0, 0, 0, 0.10) rgba(0, 0, 0, 0.12) rgba(0, 0, 0, 0.14) rgba(0, 0, 0, 0.16) rgba(0, 0, 0, 0.18) rgba(0, 0, 0, 0.20);
	-webkit-border-bottom-colors: rgba(0, 0, 0, 0.02) rgba(0, 0, 0, 0.04) rgba(0, 0, 0, 0.06) rgba(0, 0, 0, 0.08) rgba(0, 0, 0, 0.10) rgba(0, 0, 0, 0.12) rgba(0, 0, 0, 0.14) rgba(0, 0, 0, 0.16) rgba(0, 0, 0, 0.18) rgba(0, 0, 0, 0.20);
	-moz-border-top-colors: rgba(0, 0, 0, 0.02) rgba(0, 0, 0, 0.04) rgba(0, 0, 0, 0.06) rgba(0, 0, 0, 0.08) rgba(0, 0, 0, 0.10) rgba(0, 0, 0, 0.12) rgba(0, 0, 0, 0.14) rgba(0, 0, 0, 0.16) rgba(0, 0, 0, 0.18) rgba(0, 0, 0, 0.20);
	-webkit-border-top-colors: rgba(0, 0, 0, 0.02) rgba(0, 0, 0, 0.04) rgba(0, 0, 0, 0.06) rgba(0, 0, 0, 0.08) rgba(0, 0, 0, 0.10) rgba(0, 0, 0, 0.12) rgba(0, 0, 0, 0.14) rgba(0, 0, 0, 0.16) rgba(0, 0, 0, 0.18) rgba(0, 0, 0, 0.20);
}
  .noti-ribbon-front {
	background-color:#BC5E19;	height: 60px;
	width: 220px;
	position: relative;
	left:-20px;
	z-index: 2;
}

  .noti-ribbon-front,
  .noti-ribbon-back-left,
  .noti-ribbon-back-right
{
	-moz-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
	-khtml-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
	-webkit-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
	-o-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
}

  .noti-ribbon-edge-topleft,
  .noti-ribbon-edge-topright,
  .noti-ribbon-edge-bottomleft,
  .noti-ribbon-edge-bottomright {
	position: absolute;
	z-index: 1;
	border-style:solid;
	height:0px;
	width:0px;
}

  .noti-ribbon-edge-topleft,
  .noti-ribbon-edge-topright {
}

  .noti-ribbon-edge-bottomleft,
  .noti-ribbon-edge-bottomright {
	top: 60px;
}

  .noti-ribbon-edge-topleft,
  .noti-ribbon-edge-bottomleft {
	left: -20px;
	border-color: transparent #863B11 transparent transparent;
}

  .noti-ribbon-edge-topleft {
	top: 0px;
	border-width: 0px 20px 0 0;
}
  .noti-ribbon-edge-bottomleft {
	border-width: 0 20px 10px 0;
}

  .noti-ribbon-edge-topright,
  .noti-ribbon-edge-bottomright {
	left: 220px;
	border-color: transparent transparent transparent #99c;
}

  .noti-ribbon-edge-topright {
	top: 0px;
	border-width: 0px 0 0 0px;
}
  .noti-ribbon-edge-bottomright {
	border-width: 0 0 0px 0px;
}

  .noti-ribbon-back-left {
	position: absolute;
	top: 10px;
	left: 0px;
	width: 0px;
	height: 60px;
	background-color: #ccf;	z-index: 0;
}

  .noti-ribbon-back-right {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 0px;
	height: 60px;
	z-index: 0;
}
#ribbonnoticias{
	margin-top:15px;
	display:inline-block;
	margin-left:-16px;
}
.btnligas{
	display:inline-table;
	background-color:#D5D5D5;
	width:120px;
	height:58px;
	float:right;
	margin-right: 59px;
	margin-top:-8px;
	-webkit-box-shadow: 0px 2px 8px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 2px 8px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 2px 8px rgba(50, 50, 50, 0.75);
}
.min_cibam{
	margin-left:15px;
	opacity: .5;
}
.min_cibaw{
	margin-left:30px;
	opacity: .5;
}
.min_cibam:hover{
	opacity: 1;
}
.min_cibaw:hover{
	opacity: 1;
}
section#artnot span{
	display: inline-table;
	margin-right:2px;
	cursor: pointer;
	
}
#artnot{
	margin-top:10px;
	margin-right:5px;
}
.titnot{
	width:160px;
	height:30px;
	background-color:#D5D5D5;
	margin-top:14px;
	margin-left:-160px;
	text-align:center;
}
section#artnot img{
	border-style:solid; 
	border-width:5px; 
	border-color: #D5D5D5;
}
.somb_noti{
	background-image: url('img/somb_noti.png');
	height:8px;
	width:160px;
	margin-top:138px;
	margin-left:-163px;
	position: absolute;
	background-repeat:no-repeat;
	background-position:top center;
}

/* ribbon style */

 .tnribbon-wrapper {
	position: relative;
	border-top: 0px solid #ccc;
	-moz-border-bottom-colors: rgba(0, 0, 0, 0.02) rgba(0, 0, 0, 0.04) rgba(0, 0, 0, 0.06) rgba(0, 0, 0, 0.08) rgba(0, 0, 0, 0.10) rgba(0, 0, 0, 0.12) rgba(0, 0, 0, 0.14) rgba(0, 0, 0, 0.16) rgba(0, 0, 0, 0.18) rgba(0, 0, 0, 0.20);
	-webkit-border-bottom-colors: rgba(0, 0, 0, 0.02) rgba(0, 0, 0, 0.04) rgba(0, 0, 0, 0.06) rgba(0, 0, 0, 0.08) rgba(0, 0, 0, 0.10) rgba(0, 0, 0, 0.12) rgba(0, 0, 0, 0.14) rgba(0, 0, 0, 0.16) rgba(0, 0, 0, 0.18) rgba(0, 0, 0, 0.20);
	-moz-border-top-colors: rgba(0, 0, 0, 0.02) rgba(0, 0, 0, 0.04) rgba(0, 0, 0, 0.06) rgba(0, 0, 0, 0.08) rgba(0, 0, 0, 0.10) rgba(0, 0, 0, 0.12) rgba(0, 0, 0, 0.14) rgba(0, 0, 0, 0.16) rgba(0, 0, 0, 0.18) rgba(0, 0, 0, 0.20);
	-webkit-border-top-colors: rgba(0, 0, 0, 0.02) rgba(0, 0, 0, 0.04) rgba(0, 0, 0, 0.06) rgba(0, 0, 0, 0.08) rgba(0, 0, 0, 0.10) rgba(0, 0, 0, 0.12) rgba(0, 0, 0, 0.14) rgba(0, 0, 0, 0.16) rgba(0, 0, 0, 0.18) rgba(0, 0, 0, 0.20);
}
  .tnribbon-front {
	background-color: #BC5E19;	height: 60px;
	width: 240px;
	position: relative;
	left:0px;
	z-index: 2;
}

  .tnribbon-front,
  .tnribbon-back-left,
  .tnribbon-back-right
{
	-moz-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
	-khtml-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
	-webkit-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
	-o-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
}

  .tnribbon-edge-topleft,
  .tnribbon-edge-topright,
  .tnribbon-edge-bottomleft,
  .tnribbon-edge-bottomright {
	position: absolute;
	z-index: 1;
	border-style:solid;
	height:0px;
	width:0px;
}

  .tnribbon-edge-topleft,
  .tnribbon-edge-topright {
}

  .tnribbon-edge-bottomleft,
  .tnribbon-edge-bottomright {
	top: 60px;
}

  .tnribbon-edge-topleft,
  .tnribbon-edge-bottomleft {
	left: 0px;
	border-color: transparent #99c transparent transparent;
}

  .tnribbon-edge-topleft {
	top: 0px;
	border-width: 0px 0px 0 0;
}
  .tnribbon-edge-bottomleft {
	border-width: 0 0px 0px 0;
}

  .tnribbon-edge-topright,
  .tnribbon-edge-bottomright {
	left: 220px;
	border-color: transparent transparent transparent #863B11 ;
}

  .tnribbon-edge-topright {
	top: 0px;
	border-width: 0px 0 0 20px;
}
  .tnribbon-edge-bottomright {
	border-width: 0 0 10px 20px;
}

.tnribbon-back-left {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 0px;
	height: 60px;
	background-color: #ccf;	z-index: 0;
}

.tnribbon-back-right {
	position: absolute;
	top: 10px;
	right: 0px;
	width: 0px;
	height: 60px;
		z-index: 0;
}
.ribbontodasnot{
	float:right;
	margin-right:-303px;
	margin-top:-159px;
	display: inline-table;
}
#tablanoticias{
	width:280px;
	height:300px;
	background-color: #D5D5D5;
	float:right;
	margin-right:-13px;
	display: inline-table;
	margin-top:-137px;
	-webkit-box-shadow: -2px 3px 12px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    -2px 3px 12px rgba(50, 50, 50, 0.75);
	box-shadow:         -2px 3px 12px rgba(50, 50, 50, 0.75);
	
}
.footer{
	width:972px;
	height:500px;
	margin-left:auto;
	margin-right:auto;
}

/* ribbon style */

 .ftribbon-wrapper {
	position: relative;
}
  .ftribbon-front {
	background: url('img/fondft.png');
	background-color: #313131;	
	height: 500px;
	width: 1012px;
	position: relative;
	left:-20px;
	z-index: 2;
	-webkit-box-shadow: 0px -2px 12px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    0px -2px 12px rgba(50, 50, 50, 0.75);
box-shadow:         0px -2px 12px rgba(50, 50, 50, 0.75);
}

  /*.ftribbon-front*/,
  .ftribbon-back-left,
  .ftribbon-back-right
{
	-moz-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
	-khtml-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
	-webkit-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
	-o-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
}

  .ftribbon-edge-topleft,
  .ftribbon-edge-topright,
  .ftribbon-edge-bottomleft,
  .ftribbon-edge-bottomright {
	position: absolute;
	z-index: 1;
	border-style:solid;
	height:0px;
	width:0px;
}

  .ftribbon-edge-topleft,
  .ftribbon-edge-topright {
}

  .ftribbon-edge-bottomleft,
  .ftribbon-edge-bottomright {
	top: 40px;
}

  .ftribbon-edge-topleft,
  .ftribbon-edge-bottomleft {
	left: -20px;
	border-color: transparent #636363 transparent transparent;
}

  .ftribbon-edge-topleft {
	top: -10px;
	border-width: 10px 20px 0 0;
}
  .ftribbon-edge-bottomleft {
	border-width: 0 20px 0px 0;
}

  .ftribbon-edge-topright,
  .ftribbon-edge-bottomright {
	left: 972px;
	border-color: transparent transparent transparent #636363;
}

  .ftribbon-edge-topright {
	top: -10px;
	border-width: 10px 0 0 20px;
}
  .ftribbon-edge-bottomright {
	border-width: 0 0 0px 20px;
}

  .ftribbon-back-left {
	position: absolute;
	top: -10px;
	left: 0px;
	width: 0px;
	height: 40px;
		z-index: 0;
}

  .ftribbon-back-right {
	position: absolute;
	top: -10px;
	right: 0px;
	width: 0px;
	height: 40px;
		z-index: 0;
}
.barraftft{
	width: 1012px;
	height: 75px;
	background-color: black;
	opacity: 0.25;
	margin-top:-75px;
	z-index: 10;
	position: relative;
	margin-left: -20px;
	position: relative;
}
