{% extends 'base.html' %}
{% load humanize %}
{% block contenido %}
<div class="container" id="body">

	<div class="row">
		<div class="col-xs-8">
			<div class="row">
				<div class="col-xs-12">
					<h3 class="page-header">{{informacion.nombre|title}}</h3>
				</div>
			</div>
			
			<div class="row">
				<div class="col-xs-12">
					{{informacion.cuerpo|safe}}
				</div>
			</div>
			<hr />
		</div>
		<div class="col-xs-4" style="margin-top:24px">
			<div class="well">
					<h4>Buscar en Noticias</h4>
					<form method="get" action="/noticia/buscar/">
						<div class="input-group">
							<input type="text" name="q" class="form-control" required>
							<span class="input-group-btn">
								<button class="btn btn-default" type="submit">
									<span class="glyphicon glyphicon-search"></span>
							</button>
							</span>
						</div>
					</form>
				</div>
			<div class="panel panel-default">
				<div class="panel-heading porange">
					<h3 class="panel-title">Ultimos Juegos</h3>
				</div>
				<div style="height:325px;overflow-y:scroll;">
					<table class="table ultscore" >
						{% for j in juegos_pasados %}
							<tr>
								<td><p>{{j.fecha|naturalday:'d b'}}</p><p>{{j.fecha|date:'h:ia'}}</p></td>
								<td>
									<p>
										<img src="{{MEDIA_URL}}{{j.equipo_a.logo}}" class="eqmarc">
										{{j.equipo_a.nombre_corto}}
									</p>
									<p>
										<img src="{{MEDIA_URL}}{{j.equipo_b.logo}}" class="eqmarc">
										{{j.equipo_b.nombre_corto}}
									</p>
								</td>
								<td>
									<p>{{juego.puntaje_equipo_a}}</p><p>{{juego.puntaje_equipo_b}}</p>
								</td>
							</tr>						
						{% endfor %}
					</table>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading porange">
					<h3 class="panel-title">Ultimas Noticias</h3>
				</div>
				<div class="panel-body ultnot" style="height: 324px;overflow-y:scroll;">
					{% for noticia in lasts %}
						<p><a href="/noticia/{{noticia.slug}}/"><i class="fa fa-caret-right"></i>{{noticia.titulo|title}}</a></p>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}