<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<title>Cibanoro</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href="{{STATIC_URL}}css/bootstrap.css" rel="stylesheet">
	<link href="{{STATIC_URL}}css/no-res.css" rel="stylesheet">
	<link rel="stylesheet" href="{{STATIC_URL}}css/style.css">
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/font-awesome.min.css">
	<link href="{{STATIC_URL}}css/jflow.style.css" type="text/css" rel="stylesheet"/>
	<link href="{{STATIC_URL}}owl-carousel/owl.carousel.css" rel="stylesheet">
	<link href="{{STATIC_URL}}owl-carousel/owl.theme.css" rel="stylesheet">
</head>

<body>
	<div class="top-bar">
		<div class="site-wide">
			<div class="row" style="max-width: 100%;">
				<div class="col-md-12 text-center">
					<ul class="teams-nav">
						{% for team in varonil_team %}
							<li>
								<a href="{{team.url}}">
									<img width="39" height="30" src="{{team.logo.url}}">
								</a>
							</li>
						{% endfor %}
					</ul>
					{% if barra %}
					|
					{% endif %}
					<ul class="teams-nav">
						{% for team in femenil_team %}
							<li>
								<a href="{{team.url}}">
									<img width="39" height="30" src="{{team.logo.url}}">
								</a>
							</li>
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="container" id="menu">
		<div class="menu" style="padding-bottom: 15px">
			<a href="/"><img src="{{STATIC_URL}}img/logo.png" id="logo"></a>
		</div>
	</div>
	<div class="container" style="background-image: linear-gradient(to bottom right, #C7632B 0%, #B25908 100%);">
		<div class="navbar-ciba">
			<ul class="nav navbar-nav">
				<li><a href="#">Estadisticas</a></li>
				<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Equipos<b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="/equipo/liga/varonil/">Varonil</a></li>
						<li><a href="/equipo/liga/femenil/">Femenil</a></li>
					</ul>
				</li>
				<li><a href="#" class="dropdown-toggle" data-toggle="dropdown">Calendario<b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="/calendario/varonil/">Varonil</a></li>
						<li><a href="/calendario/femenil/">Femenil</a></li>
					</ul>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Noticias<b class="caret"></b></a>
					<ul class="dropdown-menu">
						{% for seccion in secciones_menu %}
						<li><a href="/noticia/seccion/{{seccion.slug}}/">{{seccion.nombre|title}}</a></li>
						{% endfor %}
					</ul>
				</li>
				<li><a href="/blog/show/">Blog</a></li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Acerca de<b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="/acerca/historia/">Historia</a></li>
						<li><a href="/acerca/mision/">Mision</a></li>
						<li><a href="/acerca/vision/">Vision</a></li>
						<li><a href="/acerca/directorio/">Directorio</a></li>
					</ul>
				</li>
				<li><a href="/acerca/contacto/">Contacto</a></li>
			</ul>
		</div>
	</div>


	<div class="container" style="background-color:#1a1a1a ;color: white">
		<div class="result">
			<div class="row" id="marc">
				{% for j in juegos_menu_hoy %}
				<div class="col-xs-3 cuadscore">
					<div class="score">
						<p></p>
						<p><button class="btn">Ver Partido</button></p>
					</div>
					<div class="team">
						<p>{{j.equipo_a.nombre_corto}}</p>
						<p>{{j.equipo_b.nombre_corto}}</p>
					</div>
					<div class="day">
						<p>{{j.fecha|date:'F d'}}</p>
						<p>{{j.fecha|date:'h:i A'}}</p>
					</div>
				</div>
				{% endfor %}
				{% for j in juegos_menu %}
				<div class="col-xs-3 cuadscore">
					<div class="score">
						<p></p>
						<p></p>
					</div>
					<div class="team">
						<p>{{j.equipo_a.nombre_corto}}</p>
						<p>{{j.equipo_b.nombre_corto}}</p>
					</div>
					<div class="day">
						<p>{{j.fecha|date:'F d'}}</p>
						<p>{{j.fecha|date:'h:i A'}}</p>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
	{% block contenido %}{% endblock %}

	<div class="container">
		<div class="ribbonfoot" style="margin-left: -15px;">
			<div class="foot ribbon-wrapper">
				<div class="foot ribbon-front" style="background-image: url('{{STATIC_URL}}css/img/fondft.png')">
					<!-- ribbon text goes here -->
				</div>
				<div class="foot ribbon-edge-topleft"></div>
				<div class="foot ribbon-edge-topright"></div>
				<div class="foot ribbon-edge-bottomleft"></div>
				<div class="foot ribbon-edge-bottomright"></div>
				<div class="foot ribbon-back-left"></div>
				<div class="foot ribbon-back-right"></div>
			</div>
		</div>
	</div>
	<script src="{{STATIC_URL}}js/jquery.js"></script>
	<script src="{{STATIC_URL}}js/bootstrap.min.js"></script>
	<!--<script src="offcanvas.js"></script>-->
	<script src="{{STATIC_URL}}js/jflow.plus.js" type="text/javascript"></script>
	<script type="text/javascript">
		$(document).ready(function(){
			$("#myController").jFlow({
					controller: ".jFlowControl", // must be class, use . sign
					slideWrapper : "#jFlowSlider", // must be id, use # sign
					slides: "#mySlides",  // the div where all your sliding divs are nested in
					selectedWrapper: "jFlowSelected",  // just pure text, no sign		
					effect: "flow", //this is the slide effect (rewind or flow)
					width: "620px",  // this is the width for the content-slider
					height: "360px",  // this is the height for the content-slider
					duration: 400,  // time in milliseconds to transition one slide
					pause: 7777, //time between transitions
					prev: ".jFlowPrev", // must be class, use . sign
					next: ".jFlowNext", // must be class, use . sign
					auto: true	
				});
		});
	</script>
	<script src="{{STATIC_URL}}owl-carousel/owl.carousel.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {

			$("#owl-notdes").owlCarousel({

			      autoPlay: 3000, //Set AutoPlay to 3 seconds

			      items : 4,
			      itemsDesktop : [1199,3],
			      itemsDesktopSmall : [979,3]

			  });

		});
	</script>
	{% block scripts %}{% endblock %}
</body>
</html>