{% extends 'base.html' %}
{% load humanize %}
{% block contenido %}
<div class="container" id="body">
	<div class="row entblog">
		<div class="col-xs-8">
			<h3 class="page-header">
				Ultimas entradas
			</h3>

			{% for articulo in articulos %}
				<h3>
					<a href="/blog/{{articulo.slug}}/">{{articulo.titulo}}</a>
				</h3>
				<p class="lead">
					Por: <a href="#">{{articulo.autor.username}}</a>
				</p>
				<p class="blogtime"><span class="glyphicon glyphicon-time"></span> Publicado el {{articulo.fecha|date:'j \d\e F \d\e\l Y f a'}} </p>
				<hr class="sechr">
				<img class="img-responsive" src="{{MEDIA_URL}}{{articulo.imagen}}" alt="">
				<hr>
				<p>{{articulo.cuerpo|truncatewords_html:10|safe}}</p>
				<a class="btn btn-primary" href="/blog/{{articulo.slug}}/">Leer<span class="glyphicon glyphicon-chevron-right"></span></a>

				<hr>
			{% endfor %}

			<ul class="pager">
				{% if articulos.has_previous %}
					<li class="previous">
						<a href="?q={{request.GET.q}}&page={{ articulos.previous_page_number }}">&larr;</a>
					</li>
				{% endif %}
				{% if articulos.has_next %}
					<li class="next">
						<a href="?q={{request.GET.q}}&page={{ articulos.next_page_number }}">&rarr;</a>
					</li>
				{% endif %}
			</ul>

		</div>

		<div class="col-xs-4" style="margin-top:24px">
			<div class="well">
				<h4>Buscar en el blog</h4>
				<form method="get" action="/blog/buscar/">
					<div class="input-group">
						<input type="text" name="q" class="form-control" required>
						<span class="input-group-btn">						
							<button class="btn btn-default" type="submit">
								<span class="glyphicon glyphicon-search"></span>
							</button>
						</span>
					</div>
				</form>				
			</div>

			<div class="well">
				<h4>Etiquetas</h4>
				<div class="row">
					<div class="col-xs-6">
						<ul class="list-unstyled">
							{% for tag in tags|slice:':4' %}
								<li>
									<a href="/blog/tag/{{tag.slug}}/">{{tag.nombre}}</a>
								</li>
							{% endfor %}
						</ul>
					</div>
					<div class="col-xs-6">
						<ul class="list-unstyled">
							{% for tag in tags|slice:'4:8' %}
								<li>
									<a href="/blog/tag/{{tag.slug}}/">{{tag.nombre}}</a>
								</li>
							{% endfor %}
						</ul>
					</div>
				</div>
			</div>

		</div>

	</div>
</div>
{% endblock %}