{% extends 'base.html' %}
{% load humanize %}
{% block contenido %}
<div class="container" id="body">
	<div class="row entblog">
		<div class="col-xs-8">
			<h2>{{articulo.titulo}}</h2>
			<p class="lead">
				por: <a href="#">{{articulo.autor|title}}</a>
			</p>
			<hr class="firhr" />
			<p class="blogtime">
				<span class="glyphicon glyphicon-time"></span> 
				Publicado el {{articulo.fecha|date:'j \d\e F \d\e\l Y f a'}} 
				{% for tag in articulo.tags.all|slice:':3' %}
					<a href="/blog/tag/{{tag.slug}}/" class="label label-default">{{tag.nombre}}</a>
				{% endfor %}
			<hr class="sechr">
			<img class="img-responsive" src="{{MEDIA_URL}}{{articulo.imagen}}" alt="">
			<hr />
			<p class="lead">{{articulo.cuerpo|safe}}</p>
			<hr />
			<div class="well">
				<div class="row">
					<div class="col-xs-3">
						<img src="{{MEDIA_URL}}{{articulo.autor.avatar}}" class="img-circle" style="width:120px;height:120px;margin-bottom:15px;">
			   		</div>
			   		<div class="col-xs-9">
			   			<h3>{{articulo.autor.username}}</h3>
			   			<p>{{articulo.autor.descripcion|safe}}</p>
			   		</div>
			   	</div>
			</div>
			<hr />
			<div id="disqus_thread"></div>
			<script type="text/javascript">		
				var disqus_shortname = 'cibanoroprueba';
				(function() {
					var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
					dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
					(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
				})();
			</script>	
		</div>
		<div class="col-xs-4" style="margin-top:24px">
			<div class="well">
				<h4>Buscar en el blog</h4>
				<form method="get" action="/blog/buscar/">
					<div class="input-group">
						<input type="text" name="q" class="form-control" required>
						<span class="input-group-btn">						
							<button class="btn btn-default" type="submit">
								<span class="glyphicon glyphicon-search"></span>
							</button>
						</span>
					</div>
				</form>
			</div>
			<div class="well">
				<h4>Etiquetas</h4>
				<div class="row">
					<div class="col-xs-6">
						<ul class="list-unstyled">
							{% for tag in tags|slice:':4' %}
								<li>
									<a href="/blog/tag/{{tag.slug}}/">{{tag.nombre}}</a>
								</li>
							{% endfor %}
						</ul>
					</div>
					<div class="col-xs-6">
						<ul class="list-unstyled">
							{% for tag in tags|slice:'4:8' %}
								<li>
									<a href="/blog/tag/{{tag.slug}}/">{{tag.nombre}}</a>
								</li>
							{% endfor %}
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}