{% extends 'base.html' %}
{% load humanize %}
{% block contenido %}
<div class="container" id="body">
	<div class="row">
		<div class="col-xs-12">
			<h3 class="page-header">Calendario <small>{{liga|title}}</small></h3>
		</div>
	</div>

	<div class="row" style="padding-top:20px;padding-bottom:20px">
		<div class="col-xs-12" style="text-align:center">
			<form method="get" action="/calendario/{{liga}}/">
				<div class="form-group">
					<label for="temporada" class="col-sm-2 control-label">Temporada:</label>
					<div class="col-sm-10">
						<select name="temporada" class="form-control" id="temporada" onchange="this.form.submit()">
							{% for temp in temporadas %}
								{% if tempo == temp.nombre %}
									<option value="{{temp.nombre}}" selected>{{temp.nombre}}</option>
								{% else %}
									<option value="{{temp.nombre}}">{{temp.nombre}}</option>
								{% endif %}
							{% endfor %}
						</select>
					</div>
				</div>
			</form>
		</div>
	</div>
	<!--<div class="row">
		<div class="col-xs-12" style="text-align:center">
			<button class="btn btn-primary btn-sm">Enero</button>
			<button class="btn btn-primary btn-sm">Febrero</button>
			<button class="btn btn-primary btn-sm">Marzo</button>
			<button class="btn btn-primary btn-sm">Abril</button>
			<button class="btn btn-primary btn-sm">Mayo</button>
			<button class="btn btn-primary btn-sm">Junio</button>
			<button class="btn btn-primary btn-sm">Julio</button>
			<button class="btn btn-primary btn-sm">Agosto</button>
			<button class="btn btn-primary btn-sm">Septiembre</button>
			<button class="btn btn-primary btn-sm">Octubre</button>
			<button class="btn btn-primary btn-sm">Noviembre</button>
			<button class="btn btn-primary btn-sm">Diciembre</button>  
		</div>
	</div>-->

	{% regroup juegos by fecha.month as juegos_list %}
	{% for juegos in juegos_list %}
		<!--<div class="row">
				<div class="col-xs-12">
					<h4 class="page-header">{{juegos.list.0.fecha|date:'j \d\e F'}}</h4>
				</div>
			</div>	-->		
		<div class="row">
			<div class="col-xs-12">
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Fecha</th><th>Equipos</th><th>Marcador</th><th>Lugar</th>
						</tr>
					</thead>
					<tbody>
						{% for juego in juegos.list %}
						<tr>
							<td>{{juego.fecha}}</td>
							<td><img src="{{MEDIA_URL}}{{juego.equipo_a.logo}}" style="width:23px;height:23px">{{juego.equipo_a}} vs <img src="{{MEDIA_URL}}{{juego.equipo_b.logo}}" style="width:25px;height:25px">{{juego.equipo_b}}</td>
							<td>{{juego.puntaje_equipo_a}} - {{juego.puntaje_equipo_b}}</td>
							<td>{{juego.equipo_a.estadio}}</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	{% endfor %}
</div>
{% endblock %}