{% extends 'base.html' %}
{% load humanize %}
{% block contenido %}
<div class="container" id="body">
	<div class="row">
		<div class="col-xs-12">
			<h3 class="page-header">Contacto <small>Dejanos un mensaje</small></h3>
		</div>
	</div>
	<div class="row" style="margin-bottom:30px">
		<div class="col-xs-12">
			<form role="form" method="post">
				<div class="col-xs-8">
					<div class="form-group">
						<label for="InputName">Nombre</label>
						<div class="input-group">
							<input type="text" class="form-control" name="InputName" id="InputName" placeholder="Nombre" required="">
							<span class="input-group-addon"><i class="glyphicon glyphicon-ok form-control-feedback"></i></span>
						</div>
					</div>
					<div class="form-group">
						<label for="InputEmail">Correo Electrónico</label>
						<div class="input-group">
							<input type="email" class="form-control" id="InputEmail" name="InputEmail" placeholder="Email" required="">
							<span class="input-group-addon"><i class="glyphicon glyphicon-ok form-control-feedback"></i></span>
						</div>
					</div>
					<div class="form-group">
						<label for="InputMessage">Escribe tu mensaje...</label>
						<div class="input-group">
							<textarea name="InputMessage" id="InputMessage" class="form-control" rows="5" required=""></textarea>
							<span class="input-group-addon"><i class="glyphicon glyphicon-ok form-control-feedback"></i></span>
						</div>
					</div>
					<input type="submit" name="submit" id="submit" value="Enviar" class="btn btn-info pull-right">
				</div>
			</form>
			<div class="col-xs-4">
				<address>
					<h3>Oficinas</h3>
					<p class="lead"><a href="#">
						{% if contacto.direccion %}
							{{contacto.direccion}}<br>
						{% endif %}
						<br>
						{% if contacto.telefono %}
							Telefono: {{contacto.telefono}}<br>
						{% endif %}
						{% if contacto.telefono %}
							Celular: {{contacto.celular}}<br>
						{% endif %}
					</p>
				</address>
			</div>
		</div>
	</div>

</div>
{% endblock %}