{% extends 'base.html' %}
{% load humanize %}
{% block contenido %}
<div class="container" id="body">
	<div class="row">
		<div class="col-xs-12">
			<h3 class="page-header">Equipos <small>{{liga|title}}</small></h3>
		</div>
	</div>
	<div class="row">
		{% for equipo in equipos %}
			<div class="col-xs-12">
				<div class="well wequi">
					<div class="row">
						<div class="col-xs-3">
							<img src="{{MEDIA_URL}}{{equipo.logo}}" style="width:200px;height:200px;margin-bottom:15px;">
						</div>
						<div class="col-xs-9">
							<h3>{{equipo.nombre}}</h3>
							<div class="row">
								<div class="col-xs-6">
									<h6>Procedencia: {{equipo.procedencia}} </h6>
									<h6>Estadio: {{equipo.estadio}}</h6>
									<h6>Directivo: {{equipo.get_directivo}}</h6>
									<h6>Coach: {{equipo.get_couch}}</h6>
								</div>
								<div class="col-xs-6">
									<h6>Juegos Jugados: {{equipo.get_games_count}} </h6>
									<h6>Ganados: {{equipo.get_wins_count}}</h6>
									<h6>Perdidos: {{equipo.get_losses_count}}</h6>
									<h6>Porcentaje: {{equipo.get_percent}}</h6>
									<a href="/equipo/{{equipo.slug}}/" class="btn btn-info" style="float:right">Ver más</a>
								</div>
							</div>			
						</div>
					</div>
				</div>
			</div>
		{% endfor %}
		
	</div>
	<hr />
	<div class="row text-center">
				<div class="col-xs-12">
					<ul class="pagination">
						{% if equipos.has_previous %}
							<li>
								<a href="?page={{ equipos.previous_page_number }}">&laquo;</a>
							</li>
						{% else %}
							<li class="disabled">
								<a href="#">&laquo;</a>
						{% endif %}
						{% for p in equipos.paginator.page_range %}
							{% if p == equipos.number %}
								<li class="active">
							{% else %}
								<li>
							{% endif %}
								<a href="?page={{p}}">{{p}}</a>
							</li>
						{% endfor %}
						{% if equipos.has_next %}
							<li>
								<a href="?page={{ equipos.next_page_number }}">&raquo;</a>
							</li>
						{% else %}
							<li class="disabled">
								<a href="#">&raquo;</a>
							</li>
						{% endif %}
					</ul>
				</div>
			</div>

</div>
{% endblock %}