{% extends 'base.html' %}
{% load humanize %}
{% block contenido %}
<div class="container" id="body">
	<div class="row">
		<div class="col-xs-12">
			<h3 class="page-header">Datos del Equipo</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<div class="well wequi">
				<div class="row">
					<div class="col-xs-3">
						<img src="{{MEDIA_URL}}{{equipo.logo}}" style="width:200px;height:200px;margin-bottom:15px;">
					</div>
					<div class="col-xs-9">
						<h3>{{equipo.nombre}}</h3>
						<div class="row">
							<div class="col-xs-6">
								<h6>Procedencia: {{equipo.procedencia}} </h6>
								<h6>Estadio: {{equipo.estadio}}</h6>
								<h6>Directivo: {{equipo.get_directivo}}</h6>
								<h6>Coach: {{equipo.get_couch}}</h6>
							</div>
							<div class="col-xs-6">
								<h6>Juegos Jugados: {{equipo.get_games_count}} </h6>
								<h6>Ganados: {{equipo.get_wins_count}}</h6>
								<h6>Perdidos: {{equipo.get_losses_count}}</h6>
								<h6>Porcentaje: {{equipo.get_percent}}</h6>
							</div>
						</div>			
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<h3 class="page-header">Roster</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<table class="table table-hover">
				<thead>
					<tr>
						<th>#</th><th>Nombre</th><th>Edad</th><th>Procedencia</th><th>Posicion</th><th>PPJ</th><th>APJ</th><th>RPJ</th><th></th>
					</tr>
				</thead>
				<tbody>
					{% for jugador in equipo.get_players %}
					<tr>
						<td>{{jugador.no_jersey}}</td>
						<td>{{jugador.nombre}} {{jugador.apellidos}}</td>
						<td>{{jugador.get_age}}</td>
						<td>{{jugador.procedencia}}</td>
						<td>{{jugador.posicion}}</td>
						<td>{{jugador.get_promedios.puntos__avg}}</td>
						<td>{{jugador.get_promedios.asistencias__avg}}</td>
						<td>{{jugador.get_promedios.rebotes__avg}}</td>
						<td><a href="/equipo/{{equipo.slug}}/jugador/{{jugador.id}}/" class="btn btn-info btn-xs">Ver</a></td>
					</tr>
					{% endfor %}					
				</tbody>
			</table>
		</div>
	</div>
</div>
{% endblock %}