{% extends 'base.html' %}
{% load humanize %}
{% block contenido %}
<div class="container" id="body">

	<div class="row">
		<div class="col-xs-9" style="width: 72%">
			<div id="slideimg">
				<div id="sliderContainer">
					<div id="mySlides" style="margin-left: 0px">
						{% for noticia in noticias|slice:':4' %}
						<div id="slide{{forloop.counter}}" class="slide">    
							<img src="{{MEDIA_URL}}{{noticia.imagen}}" style="width:100%;" alt="{{noticia.titulo}}" />
							<div class="slideContent">
								<h3 style="font-size:25px;">{{noticia.titulo}}</h3>
								<p style="font-size:11px;">{{noticia.descripcion}}  <a href="/noticia/{{noticia.slug}}/">Ver más...</a></p>
							</div>
						</div>    
						{% endfor %}
					</div>
					<div id="myController">
						{% for noticia in noticias|slice:':4' %}
							<span class="jFlowControl"></span>
						{% endfor %}
					</div>
					<div class="jFlowPrev"></div>
					<div class="jFlowNext"></div>
				</div>

			</div>
		</div>
		<div class="col-xs-3" id='bxMarc' style="width: 28%;">
			<div class="panel panel-default">
				<div class="panel-heading porange">
					<h3 class="panel-title">Ultimos Juegos</h3>
				</div>
				<div style="height:325px;overflow-y:scroll;">
					<table class="table ultscore" >
						{% for j in juegos_pasados %}
							<tr>
								<td><p>{{j.fecha|naturalday:'d b'}}</p><p>{{j.fecha|date:'h:ia'}}</p></td>
								<td>
									<p>
										<img src="{{MEDIA_URL}}{{j.equipo_a.logo}}" class="eqmarc">
										{{j.equipo_a.nombre_corto}}
									</p>
									<p>
										<img src="{{MEDIA_URL}}{{j.equipo_b.logo}}" class="eqmarc">
										{{j.equipo_b.nombre_corto}}
									</p>
								</td>
								<td>
									<p>{{j.puntaje_equipo_a}}</p><p>{{j.puntaje_equipo_b}}</p>
								</td>
							</tr>						
						{% endfor %}
					</table>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		{% for pub in publicidad|slice:':1' %}
			<div class="col-xs-12">
				<a href="{{pub.url}}">
					<div class="pub1" style="margin-left: auto; margin-right: auto;width: 100%;height: 120px; margin-bottom: 22px; background:url('{{MEDIA_URL}}{{pub.imagen}}');">
					</div>
				</a>
			</div>  
		{% endfor %}
	</div>
	<div class="row noti-dest" style="margin-top:15px">
		<div class="col-xs-12">
			<div class="panel panel-default">
				<div class="panel-heading porange">
					<h3 class="panel-title">Noticias Destacadas</h3>
				</div>
				<div class="panel-body">
					<div class="owl-carousel" id="owl-notdes">

						{% for noticia in noticias_dest %}
							<div class="item">
								<div class="thumbnail">
									<img src="{{MEDIA_URL}}{{noticia.imagen}}" style="width: 200px;height: 130px">
									<div class="caption">
										<h5>{{noticia.titulo}}</h5>
										<p>{{noticia.descripcion}}</p>
										<p class="btn-notd">
											<a href="/noticia/{{noticia.slug}}/" class="btn btn-default btn-xs" role="button">Ver más</a>
										</p>
									</div>
								</div>
							</div>
						{% endfor %}

					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-8">
			<div class="panel panel-default" style="border:none">
				<div class="panel panel-default">
					<div class="panel-heading" style="padding-bottom: 0px">
						<h3 class="panel-title">Lideres</h3>
						<ul class="nav nav-tabs" style="border: none; margin-left: 244px; margin-top: -28px;">
							<li class="active"><a href="#puntos" data-toggle="tab">Puntos</a></li>
							<li><a href="#asistencias" data-toggle="tab">Asistencias</a></li>
							<li><a href="#rebotes" data-toggle="tab">Rebotes</a></li>
						</ul>
					</div>

					<div class="panel-body">
						<!-- Nav tabs -->
						<!-- Tab panes -->
						<div class="tab-content">
							<div class="tab-pane fade in active" id="puntos">
								{% for j in j_puntos %}
								<div class="col-xs-4">
									<div class="thumbnail">
										<img src="{{MEDIA_URL}}{{j.usuario__foto}}">
										<div class="caption">
											<h4>{{j.usuario__nombre}} {{j.usuario__apellidos}}</h4>
											<p><img width="39" height="30" src="{{j.equipo__logo.url}}">{{j.equipo__nombre}}</p>
											<h4>{{j.pts}} ppj</h4>
										</div>
									</div>
								</div>
								{% endfor %}
							</div>
							<div class="tab-pane fade" id="asistencias">
								{% for j in j_asis %}
								<div class="col-xs-4">
									<div class="thumbnail">
										<img src="{{MEDIA_URL}}{{j.usuario__foto}}">
										<div class="caption">
											<h4>{{j.usuario__nombre}} {{j.usuario__apellidos}}</h4>
											<p><img width="39" height="30" src="{{j.equipo.logo.url}}">{{j.equipo__nombre}}</p>
											<h4>{{j.pts}} ppj</h4>
										</div>
									</div>
								</div>
								{% endfor %}
							</div>
							<div class="tab-pane fade" id="rebotes">
								{% for j in j_rebotes %}
								<div class="col-xs-4">
									<div class="thumbnail">
										<img src="{{MEDIA_URL}}{{j.usuario__foto}}">
										<div class="caption">
											<h4>{{j.usuario__nombre}} {{j.usuario__apellidos}}</h4>
											<p><img width="39" height="30" src="{{j.equipo.logo.url}}">{{j.equipo__nombre}}</p>
											<h4>{{j.pts}} ppj</h4>
										</div>
									</div>
								</div>
								{% endfor %}
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
		<div class="col-xs-4">
			<div class="panel panel-default">
				<div class="panel-heading porange">
					<h3 class="panel-title">Ultimas Noticias</h3>
				</div>
				<div class="panel-body ultnot" style="height: 324px;overflow-y:scroll;">
					{% for noticia in noticias %}
						<p>
							<a href="/noticia/{{noticia.slug}}/">
								<i class="fa fa-caret-right"></i>{{noticia.titulo}}
							</a>
						</p>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		{% for pub in publicidad|slice:'1:2' %}
			<div class="col-xs-12">
				<a href="{{pub.url}}">
					<div class="pub2" style="margin-left: auto; margin-right: auto;width: 100%;height: 120px; margin-bottom: 22px; background:url('{{MEDIA_URL}}{{pub.imagen}}')">
					</div> 
				</a>
			</div>
		{% endfor %}
	</div>

	<div class="row noti-dest" style="margin-top:15px">
		<div class="col-xs-12">
			<div class="panel panel-default">
				<div class="panel-heading porange">
					<h3 class="panel-title">Ultimos articulos de opinión</h3>
				</div>
				<div class="panel-body">
					{% for articulo in articulos %}
					<div class="col-xs-3 pnl-blog">
						<img src="{{MEDIA_URL}}{{articulo.imagen}}" class="img-circle" style="width:120px;height:120px;margin-bottom:15px;">
						<div class="caption">
							<h5>{{articulo.titulo}}</h5>
							<p>{{articulo.cuerpo|truncatewords_html:5|safe}}</p>
							{% for tag in articulo.tags.all|slice:':3' %}
								<a href="/blog/tag/{{tag.slug}}/" class="label label-default">{{tag.nombre}}</a>
							{% endfor %}
							<p><a href="/blog/{{articulo.slug}}/" class="btn btn-default btn-xs" role="button">Ver más</a></p>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}