{% extends 'base.html' %}
{% load humanize %}
{% block contenido %}
<div class="container" id="body">
	<div class="row">
		<div class="col-xs-12">
			<h3 class="page-header">Datos del Jugador</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<div class="well wequi">
				<div class="row">
					<div class="col-xs-3">
						<img src="{{MEDIA_URL}}{{jugador.foto}}" style="width:200px;height:200px;margin-bottom:15px;" class="img-circle">
					</div>
					<div class="col-xs-9">
						<h3>{{jugador.nombre}} {{jugador.apellidos}}</h3>
						<div class="row">
							<div class="col-xs-6">
								<h6>Procedencia: {{jugador.procedencia}} </h6>
								<h6>Equipo Actual: {{jugador.equipo.nombre}}</h6>
								<h6>Fecha de Nacimiento: {{jugador.fecha_nacimiento}}</h6>
								<h6>Posición : {{jugador.posicion}}</h6>
							</div>
							<div class="col-xs-6">
								<div class="row">
									<div class="col-xs-6">
										<h6>JJ: {{jugador.get_promedios.rebotes__count}} </h6>
										<h6>PPJ: {{jugador.get_promedios.puntos__avg}}</h6>
										<h6>APJ: {{jugador.get_promedios.asistencias__avg}}</h6>
									</div>
									<div class="col-xs-6">
										<h6>RPJ: {{jugador.get_promedios.rebotes__avg}}</h6>
										<h6>BPJ: {{jugador.get_promedios.bloqueos__avg}}</h6>	
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<h3 class="page-header">Estadisticas</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<table class="table table-hover">
				<thead>
					<tr>
						<th>Temporada</th><th>Equipo</th><th>JJ</th><th>PPJ</th><th>APJ</th><th>RPJ</th><th>BLJ</th>
					</tr>
				</thead>
				<tbody>
					{% for temporada in jugador.get_promedios_temp %}
					<tr>
						<td>{{temporada.juego.temporada.nombre}}</td><td><img src="{{MEDIA_URL}}{{temporada.equipo.logo}}" style="width:22px;height:22px;"> {{temporada.equipo.nombre}}</td><td>{{temporada.total}}</td><td>{{temporada.puntoss}}</td><td>{{temporada.asistenciass}}</td><td>{{temporada.rebotess}}</td><td>{{temporada.bloqueoss}}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>
{% endblock %}