{% extends 'base.html' %}
{% load humanize %}
{% block contenido %}
<link rel="stylesheet" href="{{STATIC_URL}}fancybox/jquery.fancybox.css" type="text/css" media="screen" />
<link rel="stylesheet" href="{{STATIC_URL}}fancybox/helpers/jquery.fancybox-thumbs.css" type="text/css" media="screen" />
<link rel="stylesheet" href="{{STATIC_URL}}fancybox/helpers/jquery.fancybox-buttons.css" type="text/css" media="screen" />


<div class="container" id="body">
	<div class="row entblog">
		<div class="col-xs-8">
			<h2>{{noticia.titulo}}</h2>
			<p class="lead">
				por: <a href="#">{{noticia.autor|title}}</a>
			</p>
			<hr class="firhr" />
			<p class="blogtime">
				<span class="glyphicon glyphicon-time"></span> 
				Publicado el {{noticia.fecha|date:'j \d\e F \d\e\l Y f a'}} 
				<a href="/noticia/seccion/{{noticia.seccion.slug}}/" class="label label-default">{{noticia.seccion.nombre}}</a>
			<hr class="sechr">
			<img class="img-responsive" src="{{MEDIA_URL}}{{noticia.imagen}}" alt="">
			<hr />
			{% if noticia.imagenes %}
			<div id="galeria">
				{% for imagen in noticia.imagenes %}
				<div class="item">
				<a class="fancybox" rel="group" href="{{imagen.imagen.url}}"><div style="width:100%;background-image:url('{{imagen.imagen.url}}');height:180px;background-size: contain;background-repeat: no-repeat;"></div></a>
				</div>
				{% endfor %}
			</div>
			{% endif %}
			<p class="lead">{{noticia.cuerpo|safe}}</p>
			<hr />			
			<div id="disqus_thread"></div>
			<script type="text/javascript">		
				var disqus_shortname = 'cibanoroprueba';
				(function() {
					var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
					dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
					(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
				})();
			</script>	
		</div>
		<div class="col-xs-4" style="margin-top:24px">
			<div class="well">
					<h4>Buscar en Noticias</h4>
					<form method="get" action="/noticia/buscar/">
						<div class="input-group">
							<input type="text" name="q" class="form-control" required>
							<span class="input-group-btn">
								<button class="btn btn-default" type="submit">
									<span class="glyphicon glyphicon-search"></span>
							</button>
							</span>
						</div>
					</form>
				</div>
			<div class="panel panel-default">
				<div class="panel-heading porange">
					<h3 class="panel-title">Ultimos Juegos</h3>
				</div>
				<div style="height:325px;overflow-y:scroll;">
					<table class="table ultscore" >
						{% for j in juegos_pasados %}
							<tr>
								<td><p>{{j.fecha|naturalday:'d b'}}</p><p>{{j.fecha|date:'h:ia'}}</p></td>
								<td>
									<p>
										<img src="{{MEDIA_URL}}{{j.equipo_a.logo}}" class="eqmarc">
										{{j.equipo_a.nombre_corto}}
									</p>
									<p>
										<img src="{{MEDIA_URL}}{{j.equipo_b.logo}}" class="eqmarc">
										{{j.equipo_b.nombre_corto}}
									</p>
								</td>
								<td>
									<p>{{juego.puntaje_equipo_a}}</p><p>{{juego.puntaje_equipo_b}}</p>
								</td>
							</tr>						
						{% endfor %}
					</table>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading porange">
					<h3 class="panel-title">Ultimas Noticias</h3>
				</div>
				<div class="panel-body ultnot" style="height: 324px;overflow-y:scroll;">
					{% for noticia in lasts %}
						<p><a href="/noticia/{{noticia.slug}}/"><i class="fa fa-caret-right"></i>{{noticia.titulo|title}}</a></p>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block scripts %}
<script>
$(document).ready(function() {

	$("#galeria").owlCarousel({

      autoPlay: 3000, //Set AutoPlay to 3 seconds

      items : 4,
      itemsDesktop : [1199,3],
      itemsDesktopSmall : [979,3]

	  });

	$(".fancybox").fancybox();

})
</script>
<!-- Add jQuery library -->


<!-- Add fancyBox -->
<script type="text/javascript" src="{{STATIC_URL}}fancybox/jquery.fancybox.pack.js"></script>

<!-- Optionally add helpers - button, thumbnail and/or media -->
<script type="text/javascript" src="{{STATIC_URL}}fancybox/helpers/jquery.fancybox-buttons.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}fancybox/helpers/jquery.fancybox-media.js"></script>

<script type="text/javascript" src="{{STATIC_URL}}fancybox/helpers/jquery.fancybox-thumbs.js"></script>
{% endblock %}